span {
  float: left;
}
.footer-button {
  width: 100px;
  height: 40px;
  margin-left: 5px;
  margin-top: 30px;
  background-color: #312476;
  border: 2px solid #312476;
  border-radius: 5px;
  color: whitesmoke;
}
.footer-button:hover {
  background-color: #7f76b1;
}
